<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-3 border p-0">
            <div class="d-flex sidebar flex-column flex-shrink-0 p-3 text-bg-dark">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <svg class="bi pe-none me-2" width="40" height="32">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                    <span class="fs-4">Gestion Notes</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto"  >
                    <li>
                        <a class="nav-link text-white" (click)="changeNavItem('apprenants')" >
                            <svg class="bi pe-none me-2" width="16" height="16">
                                <use xlink:href="#speedometer2"></use>
                            </svg>
                            liste des apprenants
                        </a>
                    </li>
                    <li class="nav-item" (click)="changeNavItem('notes')">
                        <a class="nav-link text-white" aria-current="page">
                            <svg class="bi pe-none me-2" width="16" height="16">
                                <use xlink:href="#home"></use>
                            </svg>
                            liste des notes
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-white" (click)="changeNavItem('desactiver')">
                            <svg class="bi pe-none me-2" width="16" height="16">
                                <use xlink:href="#table"></use>
                            </svg>
                            liste des apprenants désactiver
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-9 border">
            
            <div class="listeApprenant" id="apprenants" *ngIf="selectedNavItem === 'apprenants'">
                <h4 class="text-center fw-bold">Liste apprenants</h4>
                <div class="trait"></div>
                
                <div class="container mt-3 border">
                    <div class="row titleTab bg-light">
                        <div class="col-md-3">
                            <p>Profil</p>
                        </div>
                        <div class="col-md-3">
                            <p>Pénom Formateur</p>
                        </div>
                        <div class="col-md-3">
                            Nom Formateur
                        </div>
                        <div class="col-md-3">
                            <h6 class="text-center">Actions</h6>
                        </div>
                    </div>
                
                    <div class="row p-2">
                        <div class="col-md-3">
                            <img src="" alt="">
                        </div>
                        <div class="col-md-3">
                            <p>André</p>
                        </div>
                        <div class="col-md-3">
                            Ndione
                        </div>
                        <div class="col-md-3 d-flex justify-content-between">
                            <button class="btn btn-info">Détails</button>
                            <button class="btn btn-danger">Désactiver</button>
                        </div>
                    </div>
                
                    <div class="row p-2">
                        <div class="col-md-3">
                            <img src="" alt="">
                        </div>
                        <div class="col-md-3">
                            <p>André</p>
                        </div>
                        <div class="col-md-3">
                            Ndione
                        </div>
                        <div class="col-md-3 d-flex justify-content-between">
                            <button class="btn btn-info">Détails</button>
                            <button class="btn btn-danger">Désactiver</button>
                        </div>
                    </div>
                
                    <div class="row p-2">
                        <div class="col-md-3">
                            <img src="" alt="">
                        </div>
                        <div class="col-md-3">
                            <p>André</p>
                        </div>
                        <div class="col-md-3">
                            Ndione
                        </div>
                        <div class="col-md-3 d-flex justify-content-between">
                            <button class="btn btn-info">Détails</button>
                            <button class="btn btn-danger">Désactiver</button>
                        </div>
                    </div>
                
                    <div class="row p-2">
                        <div class="col-md-3">
                            <img src="" alt="">
                        </div>
                        <div class="col-md-3">
                            <p>André</p>
                        </div>
                        <div class="col-md-3">
                            Ndione
                        </div>
                        <div class="col-md-3 d-flex justify-content-between">
                            <button class="btn btn-info">Détails</button>
                            <button class="btn btn-danger">Désactiver</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="noteApprenant" id="notes" *ngIf="selectedNavItem === 'notes'">
                <h1>Liste des notes</h1>
            </div>
            <div class="listeApprenantDesactiver" id="desactiver" *ngIf="selectedNavItem === 'desactiver'">
                <h1>Liste des apprenats desactiver</h1>
            </div>
        </div>
    </div>
</div>
